.Mockups{
    height: 628px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}



@media (min-width: 768px) {
    .Mockups{
        margin-top: 60px;
    }
}
@media (min-width: 1440px){
    
}

.Mockups div:nth-child(1){
    margin-top: 25px;
}
.Mockups div:nth-child(3){
    margin-top: 60px;
}

.Mockups__ATTENDEES{
    /* height: 187px;
    width: 160px; */
    
}

.Mockups__BADGE{
    /* height: 260px;
    width: 192px; */
}

.Mockups__REGISTRATION{
    /* height: 206px;
    width: 192px; */

}

.Mockups__REGISTRATIONS{
    /* height: 92px;
    width: 192px;     */
}

.Mockups__SPEAKER{
    /* height: 206px;
    width: 192px; */
}

.Mockups__SALES{
    /* height: 219px;
    width: 160px;     */
}

.Mockups__TICKET{
    /* height: 282px;
    width: 192px; */
}
