@use '../../scss/base/variables' as variable;

.button{
    
    right: 112px;
    color: #FFFFFF;
    background: variable.$color-primary;
    border-radius: 6px;
    border:1px solid variable.$color-primary;
    font-family: 'Archivo';
    cursor: pointer;

    &__lg{
        width: 161px;
        height: 48px;
    }

    &__md{
        width: 145px;
        height: 40px;
    }
}

.button:hover{
    border:1px solid variable.$color-primary;
    background: #FFFFFF;
    color: #0876DD;
}
