@media (min-width: 768px) {
    .Hero{
    
        height: 1286px;
        width:90%;
        margin: 0 auto;
    }
}

@media (min-width: 1440px){
    .Hero{
    
        height: 820px;
        width:90%;
        margin: 0 auto;
    }
    
    .Hero__section{
        display: flex;
    }
}

@media (max-width: 767px) {

}

