@use '../../scss/base/variables' as variable;

.Hero{
    @media (min-width: 768px) {
        // height: 1340px;
        width:90%;
        margin: 0 auto;
    }
    @media (min-width: 1440px){
        // height: 820px;
        width:90%;
        margin: 0 auto;
    }

    @media (max-width: 767px) {
        width:90%;
        margin: 0 auto;
    }

    &__section{
        z-index: 1;
        position: relative;
        @media (min-width: 1440px){
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
        }

    }

    &::before{
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../../assets/images/backgrounds/ellipse-top.svg');
        position: absolute;
        @media (min-width: 768px) {
            content: ''; 
            height: 700px;
            right: 0px;
            width: 612px;
            top: 200px;

        }
        @media (min-width: 1440px){
            content: ''; 
            top:0px;
            height: 800px;
            width: 700px;
            background-position: top -200px left 10px;
        }
        
        @media (max-width: 767px) {
            content: ''; 
            height: 500px;
            width: 435px;
            right: 0px;
            top:300px;
        }
        
    }
    
}

