// variables de botones
$color-primary:#0876DD;
$color-secondary:#FFFFFF;

$background:#FFFFFF;


// variables de fuentes
$font-family:'Archivo';
$font-size-title-lg:64px;
$font-size-title-md:64px;
$font-size-title-sm:36px;


$font-size-text-lg:18px;
$font-size-text-md:18px;
$font-size-text-sm:16px;


$font-size-subtitle-lg:56px;
$font-size-subtitle-lg:48px;
$font-size-subtitle-lg:36px;


$font-size-feature-title-lg:24px;
$font-size-feature-title-md:24px;
$font-size-feature-title-sm:20px;

$font-size-feature-text-lg:16px;
$font-size-feature-text-md:16px;
$font-size-feature-text-sm:14px;

$font-size-cta-title-lg:48px;
$font-size-cta-title-md:36px;
$font-size-cta-title-sm:30px;

