.Navbar{
    height: 80px;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;

    &__button{

        &__container{
            display: flex;
            gap: 20px;
        }
    }
}

