.Navbar{
    height: 80px;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;

    &__button{
        
        &__container{
            display: flex;
            gap: 20px;
            @media (max-width: 767px) {
                flex-direction: column-reverse;
            }
            
        }
    }
}

