.Video{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 120px;
    align-items: flex-end;
    position: relative;

    &__img{
        @media (min-width: 768px) {
            height: 387px;
            width: 688px;
            border-radius: 6px;
        }
        @media (min-width: 1440px){
            height: 432px;
            width: 768px;
            border-radius: 6px;
        }
        
        @media (max-width: 767px) {
            height: 188px;
            width: 335px;
            border-radius: 6px;
        }
    }
    
    
}

.Video__play{
    width: 234px;
    height: 56px;
    position: absolute;
    bottom: -35px;
}


