.Features{
    height: 1420px;
    width:90%;
    margin: 0 auto;
}

.Features__title{
    color: #111827;
    font-weight: 600;
    font-size: 56px;
    line-height: 72px;
    text-align: center;
    font-family: 'Archivo';
}

.Features__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Archivo';
    text-align: center;
}

.Features__video{
    height: 432px;
    left: 336px;
    top: 252px;
    border-radius: 6px;

}

.Features__container{
    display: grid;
}

@media (min-width: 768px) {
    .Features__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1440px){
    .Features__container{
        grid-template-columns: repeat(3, 1fr);
    }
}



@media (max-width: 767px) {
    
    .Features__container{
        grid-template-columns: repeat(1, 1fr);
    }
}

